{% extends 'base.html.twig' %}

{% block body%}
    <h1 class="display-5">Studentai</h1>
    <ul class="list-group">
        {% for project, people in studentList %}
            {% for student in people.members %}
                <li class="list-group-item">
                    <a href="{{ path('student_info', {'utm_source': 'akademija',
                                                 'utm_campaign': people.mentor,
                                                 'utm_term': student,
                                                 'utm_content': project }) }}">{{ student }}</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}